.transparentRedButton {
    background-color: rgba(255, 0, 55, 0.55); /* Here, the fourth value (0.55) is the alpha/transparency value */
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-left: 30px
  }
  
