body {
  background-color: #212529; /* Bootstrap Dark #212529 */
}

.cardbackground {
  background-color: #333333;
  color: white;
}

.navlink {
  color: #999999;
  text-decoration: none;
}

.navlink:hover {
  color: #ffffff;
}

.btn-custom {
  background-color: #ff0606b5;
  color: #ffffffef;
  border-radius: 5px;
  border: none;
  height: 35px;
  cursor: pointer;
  font-size: large;
  font-weight: 500;
}

.btn-custom:hover {
  background-color: #ff060693;
  color: #ffffffdb;
}

